/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/
@use "../variables";

/** Share buttons */
.share-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .25rem;
    font-size: .85em;
    font-weight: bold;
    padding-top: .5rem;
    margin-top: .5rem;

    &::before {
        position: absolute;
        top: 0;
        display: block;
        content: " ";
        border-top: 1px solid $galette-light-grey;
        width: 125px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: transparent;
            color: $galette-blue;

            &:hover {
                background: $galette-light-grey;
                color: $galette-dark-blue;
            }
        }
    }
}
