<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <section class="wrapper">
        <header>
            <div class="ghead">
                <h1>{{ .Title }}</h1>
                {{ partial "langselector.html" . }}
            </div>
            {{ partial "galettebar.html" . }}
        </header>
        <section id="content" aria-label="Content">
            {{ block "main" . }}{{ end }}
        </section>
        {{ partial "sidebar.html" . }}
    </section>
    {{ partial "footer.html" . }}
  </body>
</html>
