{{ define "main" }}
  {{ range .Paginator.Pages }}
    <article class="h-entry post-item">
      <div class="post-header">
        <p class="post-meta">
          {{- if .Params.tags -}}
            {{- if reflect.IsSlice .Params.tags -}}
              {{- range .Params.tags -}}
                {{- $tagKey := printf "tags.%s" . -}}
                {{- $translated := i18n $tagKey -}}
                <span class="p-category tag {{ . }}">{{ if $translated }}{{ $translated }}{{ else }}{{ . }}{{ end }}</span>
              {{- end -}}
            {{- else -}}
              {{- $tagKey := printf "tags.%s" .Params.tags -}}
              {{- $translated := i18n $tagKey -}}
              <span class="p-category tag {{ .Params.tags }}">{{ if $translated }}{{ $translated }}{{ else }}{{ .Params.tags }}{{ end }}</span>
            {{- end -}}
          {{- end }}
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format (i18n "global.date_format") }}
          </time>
        </p>
        <h2 class="p-name">
          <a href="{{ .RelPermalink }}" class="u-url">
            {{ .Title }}
          </a>
        </h2>
      </div>
      <div class="p-summary post-excerpt">
        {{ .Content }}
      </div>
    </article>
    <hr>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
