{{ define "main" }}
  <h1>{{ i18n "pages.posts" }}</h1>
  {{ range .Paginator.Pages }}
    <article class="post-item">
      <div class="post-header">
        <p class="post-meta">
          {{- if .Params.tags -}}
            {{- if reflect.IsSlice .Params.tags -}}
              {{- range .Params.tags -}}
                {{- $tagKey := printf "tags.%s" . -}}
                {{- $translated := i18n $tagKey -}}
                <span class="tag {{ . }}">{{ if $translated }}{{ $translated }}{{ else }}{{ . }}{{ end }}</span>
              {{- end -}}
            {{- else -}}
              {{- $tagKey := printf "tags.%s" .Params.tags -}}
              {{- $translated := i18n $tagKey -}}
              <span class="tag {{ .Params.tags }}">{{ if $translated }}{{ $translated }}{{ else }}{{ .Params.tags }}{{ end }}</span>
            {{- end -}}
          {{- end }}
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format (i18n "global.date_format") }}
          </time>
        </p>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      </div>
      <div class="post-excerpt">
        {{ .Content }}
      </div>
    </article>
    <hr>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
