<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "headline": "
            {{- if .IsHome -}}
                {{ .Site.Title }}
            {{- else -}}
                {{ .Title }}
            {{- end -}}
        ",
        {{ if (and .IsPage (eq .Type "posts")) }}
            "@type": "BlogPosting",
        {{ else if .IsHome }}
            "@type": "Website",
        {{ else }}
            "@type": "WebPage",
        {{ end }}
        "url": "{{ .Permalink }}",
        "image": "{{ absURL "assets/images/og_image.jpg" }}",
        "description": "{{ .Description }}",
        "inLanguage": "{{ .Lang }}",
        "name": "{{ .Site.Title }}",
        {{ if (and .IsPage (eq .Type "posts")) }}
            "author": {
                  "@type": "Person",
                  "name": "{{ .Site.Params.author }}"
            },
            {{ range .Params.tags }}
                {{- $tagKey := printf "tags.%s" . -}}
                {{- $translated := i18n $tagKey -}}
                "keywords": "{{ if $translated }}{{ $translated }}{{ else }}{{ . }}{{ end }}",
            {{ end }}
            "datePublished": "{{ .Date.Format "2006-01-02" }}",
        {{ end }}
        {{ if not .Lastmod.IsZero }}
            "dateModified": "{{ .Lastmod.Format "2006-01-02" }}"
        {{ end }}
    }
</script>
